/* Nollställning av standarstilar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Sidan bakgrund och grundlayout */
body {
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    width: 1440px;
    height: 100vh;
    overflow:auto;
}
/* ------- PLANET CONTAINER (ABSOLUTE POSITIONING) ------- */
.planet-container {
    position: relative;      /* Viktigt: möjliggör positionering för planeter*/
    width: 100%;
    height: 100%;
}
.planet-container ul {
    list-style: none;
    position: relative;      /* Planeter placeras relatvit denna */
}
ul{
    list-style: none;
}
.planet-container li {
    position: absolute;      /* Krävs för exakt placering enligt Figma positioner */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: none;
    border-radius: 50%;
}
/* Planet bilder */
.planet-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 60;
}
/*Overlay container.*/
.popup-container{
    position: relative;
    width: 1440px;
    height: 900px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    top: 30%;
    border: 20px 10px;
    border-radius: 10px;
    opacity: 1;
    transition: all 1s;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
}
/* ------- Planetstorlekar +  Figma positioner ------- */
#Subtract {
    width: 118px;
    height: 740px;
    left: 0px;
    top: 80px;
    background: #FFD029;
    box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2);
}
#Ellipse-2 {
    width: 14px;
    height: 14px;
    left: 203px;
    top: 443px;
    background: #888888;
}
#Ellipse-3 {
    width: 26px;
    height: 26px;
    left: 280px;
    top: 437px;
    background: #E7CDCD;
}
#Ellipse-4 {
    width: 28px;
    height: 28px;
    left: 375px;
    top: 436px;
    background: #428ED5;
}
#Ellipse-5 {
    width: 14px;
    height: 14px;
    left: 473px;
    top: 443px;
    background: #EF5F5F;
}
#Ellipse-6 {
    width: 188px;
    height: 188px;
    left: 576px;
    top: 356px;
    background: #E29468;
}
#Ellipse-7 {
    width: 144px;
    height: 144px;
    left: 875px;
    top: 378px;
    background: #C7AA72;
}
#Ellipse-8 {
    width: 66px;
    height: 66px;
    left: 1136px;
    top: 417px;
    background: #C9D4F1;
}
#Ellipse-9 {
    width: 66px;
    height: 66px;
    left: 1306px;
    top: 417px;
    background: #7A91A7;
}
/*Saturn container och dessa ring*/
.saturn-container{
    position: relative;
    display: inline-block;                       /* Behövs för att ringen ska ligga på planeten */
}
.saturn-ring{
    position: absolute;
    width: 218.23px;
    height: 5.5px;
    left: -40%;                                     /* Justering så ringen centreras */
    top: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: rotate(-30deg);
    z-index: 999;                                   /* Ligger ovanpå planeten */
}
/* ----- Header och Logo i toppen ----- */
.Frame-6 {
    position: absolute;
    left: 747px;
    top: 72px;
}
/* ----- Footer Logo ----- */
.logo {
    position: absolute;
    width: 80px;
    left: 703px;
    top: 814px;
}
/* Popup/close knapp */

.popup-btn{
    cursor: pointer;
    background-color: orangered;
    color: #000;
    border-radius: 10px;
}
.close-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.close-icon:hover{
    color: orangered;
}
/* Dölj elements i JS kontoller */

.hidden{
    display: none;
}
/* Overlay-Planet info popup */

.overlay{
    /* MacBook Pro - 2 */
    position: relative;
    width: 1440px;
    height: 900px;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    color: white;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}
#overlay{
    z-index: 2000;
    position: fixed;                           /* Ligger över hela sidan */
}
